.footer-content {
    max-width: 684px;
    margin: 0 auto;
}

.footer {
    text-align: center;
    background-color: black;
    width: 100%;
  
    &-title {
      @include title;
      color: #FEFEFE;
      padding: 66px 0 0 0;
    }
    &__description-desktop {
      font-size: 1rem;
      line-height: 1.75rem;
      color: #B9B9B9;
    }
  
    &__contacts {
      font-size: 1rem;
      line-height: 1.625rem;
      color: #B9B9B9;
      padding-bottom: 70px;
    }
  
    &__contacts-mobile {
      display: none;
    }
    &__contacts-link {
      color: #B9B9B9;
    }
  
    &__description-mobile {
      display: none;
    }
  
    &-pictures {
      @include flex(center);
      margin: 35px;
      gap: 6px;
    }
}
  
@media (max-width: 768px) {

    .footer {
        &-title {
        padding: 3.56em 0 1.28em 0;
      }

      &__contacts {
        padding-bottom: 3.5em;
      }
    }
}
  
@media (max-width: 320px) {
  .footer {
        &-title {
          padding: 38px 0 8px 0;
        }
  
        &__description-desktop {
          display: none;
        }
  
        &__description-mobile {
          display: inline;
          font-size: 0.75rem;
          line-height: 1.25rem;
          color: #B9B9B9;
        }
  
        &-pictures {
          margin: 26px;
        }

        &__contacts {
          display: none;
          font-size: 0.875rem;
          line-height: 1.5rem;
          color: #B9B9B9;
          padding-bottom: 47px;
          
          &-mobile {
            display: inline-block;
            font-size: 0.875rem;
            line-height: 1.5rem;
            color: #B9B9B9;
            padding-bottom: 47px;
          }
        }
    }
}