.menu {
    margin-top: 45px;
    margin-bottom: 50px;
  
    &__list {
        @include flex;
  
        &-item {
            font-size: 0.7rem;
            line-height: 1.375rem;
            text-transform: uppercase;
            margin-right: 16px;
            letter-spacing: 1.1px;
        }
  
        &-link {
            color: $title-color;
            transition: border .5s ease-in-out;
            text-decoration: none;
            display: inline-block;
            padding: 0 12px;

            &:hover {
                color: $menu-color;
            }
        }
    }
}

.navigation {
    @include flex;
    justify-content: center;
}

.burger {
    @include flex(center);
    flex-direction: column;
    cursor: pointer;
    background-color: black;
    height: 37px;
    width: 44px;
    margin: 24px 0 24px 0;
    display: none;
  
    &__line {
      position: relative;
      display: block;
      width: 17px;
      height: 2px;
      background: white;
      transition: all .5s ease-in-out;
  
        &:before, 
        &:after {
            position: absolute;
            background: white;
            content: "";
            width: 17px;
            height: 2px;
            transition: all .5s ease-in-out;
        }
  
        &:before {
            top: -4px;
        }

        &:after {
            top: 4px;
        }
    }
}
  

@media (max-width: 768px) {
    .navigation {
        @include flex;
        justify-content: flex-end;
    }

    .burger {
       display: flex;
    }
   
    .menu {
        position: absolute;
        top: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease-in-out;
   
        &__list {
            flex-direction: column;
            align-items: start;
            background-color: #F5F5F5;
            transition: all 0.5s ease-in-out;
   
            &-item {
                width:100%;
                padding-bottom: 8px;
            }

            &-link {
                padding-left:12px;
                width: 100%;
                &:active {
                    color: $menu-color;
                }
                
                &:focus{
                    background-color:#E5E5E5;
                }
            }
        }
    }
}
   

.menu.active {
    opacity: 1;
    pointer-events: all;
    top: 17px;
}
  
.burger__line.close {
    background: transparent;
  
    &:before {
        transform: rotate(45deg) translate(4px, 4px);
    }
  
    &:after {
        transform: rotate(-45deg) translate(2px, -2px);
    }
}