.post-title {
    @include title;
}

.allPosts {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2em;
        margin-bottom: 3.75em;
    }

    .post__item {
        display: block;

        &-info {
            margin: 0.69em 0 0 0;
        }

        &-title {
            color: $title-color;
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.875rem;
        }

        &-subtitle {
            color: $subtitle-color;
            font-size: 0.75rem;
            line-height: 1.25rem;
        }

        &-description {
                display: none;
        }
    }

@media (min-width: 768px) {
    .post__item {
        @include flex;
        align-items: flex-start;

        &-info {
            margin-left: 1.25em;
        }

        &-description {
            display: block;
            color: $text;
            font-size: 0.875rem;
            line-height: 1.625rem;
        }
    }
}

@media (min-width: 1200px) {
    .allPosts {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.56em;
        row-gap: 2em;
        margin-bottom: 4.31em;
    }

    .post__item {
        @include flex;
        align-items: flex-start;
    }
}