.shot {
  @include receptacle;
  padding: 47px 0;

  &__title {
    @include title;
    margin-bottom: 13px;
  }

  &__link {
    display: none;
    font-weight: bold;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: $title-color;
  }

  &__img {
    height: 301px;
    width: 301px;

    &:nth-last-child(-n+3) {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .shot {
    @include receptacle;

    &__wrapper {
      background-color: $color-shot-bg;
    }

    &__info {
      display: flex;
      justify-content: space-between;
    }

    &__title {
      margin-bottom: 35px;
    }

    &__link {
      display: block;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      column-gap: 9px;
    }

    &__img {
      height: 249px;
      width: 249px;

      &:nth-last-child(-n+3) {
        display: block;
      }

      &:nth-last-child(-n+1) {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .shot {
    @include receptacle;

    &__container {
      column-gap: 10px;
    }

    &__img {
      height: 285px;
      width: 285px;

      &:nth-last-child(-n+1) {
        display: block;
      }
    }
  }
}