.top img{
    width: 100%;
}

.top{
    margin-bottom: 4.12em;
}

@media (max-width: 768px) {
    .top {
        margin-bottom: 3.5em;
    }
}
  
@media (max-width: 320px) {
    .top {
        margin-bottom: 2.38em;
    }
}