  @mixin flex($horizontal: flex-start, $vertical: center) {
    display: flex;
    justify-content: $horizontal;
    align-items: $vertical;
  }

  @mixin title {
    color: $title-color;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }

  @mixin receptacle {
    width: 100%;
    margin: 0 auto;
  }
