@import './abstracts/reset';
@import './abstracts/variables';
@import './abstracts/mixins';

body{
    font-family: $primary-fonts;
}
.container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding-inline: 10px;

    @media (min-width: 768px) {
      max-width: 1200px;
    }
}
  
html {
    font-size: 14px;
    @media (min-width: 320px) {
        font-size: 16px;
    }
}
  
@import './layout/main';